.home-container {
    padding-top: 150px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(home-section/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#switch:checked~.outer .home-container{
    background-image: url(home-section/home-background-2.png);
}

.profile-picture {
    width: 280px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 30px;
}

#switch:checked~.outer .home-container .profile-picture {
    border: 3px solid black;
}

.home-container div {
    font-size: 35px;
    color: rgb(229, 229, 127);
    font-weight: bold;
}

#switch:checked~.outer .home-container div {
    color: black;
}